body
{
    font-family: 'Cedarville Cursive', cursive;
    background: bluergb(94, 94, 234);
}

.header_div
{
    background: white;
    color: black
}

.header_div p{
    font-family: 'Cedarville Cursive', cursive;
    color: green;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Cedarville Cursive', cursive;
    margin-top: 30px;
    width: 130;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray rgb(151, 149, 149);
}